/* responsive mobile */
@media screen and (max-width:767px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        background: white;
        border-radius: 15px;
        width: 500px;
        margin-left: 65%;
        margin-top: 60px;

    }

    .link-box {
        border-radius: 15px;
        background: white;
        margin: 4px;
        width: 100px;
        height: 65px;
        text-align: center;
        padding: 5px;
    }

    header .logo {
        height: 40px;
        width: 40px;
    }

    header .display-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Now Bold', sans-serif;
        font-size: 15px;
    }


    .display-menu .menu {
        padding: 0 15px;
        text-decoration: none;
    }

    body {
        background-image: linear-gradient(rgb(255 222 89 / 34%) 0%, rgba(235, 157, 215, 0.435) 50%, rgb(255 145 77 / 30%) 100%), url('./assets/bg-top.jpg');
        background-position: center;
        background-size: cover;
        width: 5%;
    }

    .menu {
        color: #4E709D;
        font-size: 17px;
        margin: 10px;
        transition: 0.3s;
    }

    .menu:hover {
        background: linear-gradient(rgba(255, 222, 89, 0.643) 0%, rgba(224, 143, 98, 0.63) 33.333%, rgba(235, 157, 215, 0.733) 66.667%, rgba(255, 145, 77, 0.733) 100%);
        color: white;
        padding: 10px;
    }

    a ul li {
        list-style: none;
        text-decoration: none;
    }
}

/* Tablettes en mode portrait */
@media screen and (max-width: 991px) {
    /* Styles CSS pour les tablettes en mode portrait */
}



/* responsive desktop */
@media screen and (min-width:1200px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        background: white;
        border-radius: 15px;
        width: 500px;
        margin-left: 65%;
        margin-top: 60px;

    }

    .link-box {
        border-radius: 15px;
        background: white;
        margin: 4px;
        width: 100px;
        height: 65px;
        text-align: center;
        padding: 5px;
    }

    header .logo {
        height: 40px;
        width: 40px;
    }

    header .display-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Now Bold', sans-serif;
        font-size: 15px;
    }


    .display-menu .menu {
        padding: 0 15px;
        text-decoration: none;
    }

    body {
        background-image: linear-gradient(rgb(255 222 89 / 34%) 0%, rgba(235, 157, 215, 0.435) 50%, rgb(255 145 77 / 30%) 100%), url('./assets/bg-top.jpg');
        background-position: center;
        background-size: cover;
        width: 99%;

    }

    .menu {
        color: #4E709D;
        font-size: 17px;
        margin: 10px;
        transition: 0.3s;
    }

    .menu:hover {
        background: linear-gradient(rgba(255, 222, 89, 0.643) 0%, rgba(224, 143, 98, 0.63) 33.333%, rgba(235, 157, 215, 0.733) 66.667%, rgba(255, 145, 77, 0.733) 100%);
        color: white;
        padding: 10px;
    }

    a ul li {
        list-style: none;
        text-decoration: none;
    }
}